.main-container{
    display: flex;

}
.leftside-container{
    flex:1;
    background-color: black;
    color: white;



}
.rightside-container{
flex:3;
color:black;
}
#title{
    padding-top: 5%;
}
.name-container{
    background-color: rgb(255, 184, 3);
    height: 10%;
    text-align: center
}
